h1 {
  font-weight: bold;
}

button {
  color: white;
  background-color: transparent;
  border: none;
}
label{
  display: block;
  margin-bottom: 5px;
}
input {
  width: 100%;
  padding: 8px;
  outline: none;
border: 1px solid #ccc;
border-radius: 5px;
}

footer{
  margin-top: 10px;
}
