<div class="main p-5">
  <div class="d-flex justify-content-between">
    <h2>Forget Password</h2>
    <span matDialogClose>X</span>
  </div>
  <form [formGroup]="forgetPassForm" (ngSubmit)="submit()">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        formControlName="email"
        class="form-control"
        id="email"
        name="email"
        [class.is-invalid]="email?.invalid && email?.touched"
        [class.is-valid]="email?.valid && email?.touched"
      />
      <div [hidden]="email?.valid || email?.untouched">
        <small *ngIf="email?.errors?.['required']">
          * Email is required.
        </small>
        <small *ngIf="email?.errors?.['pattern']">
          * Please provide a valid email address,
          <b>{{email?.errors?.['pattern'].actualValue}}</b> is not valid.
        </small>
      </div>
    </div>

    <button [disabled]="forgetPassForm.invalid" type="submit" class="btn mb-3">
      Submit
    </button>
  </form>
</div>
