.main {
  max-width: 500px;
  margin: auto;
  h2 {
    color: var(--color-main);
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
  }
  form {
    box-shadow: 0 1px 6px 0 rgba(184, 184, 184, 0.3);
    background-color: white;
    small {
      color: red;
    }
    button {
      background-color: var(--color-orange);
      color: white;
      margin: 20px 0;
    }

  }
  span{
    color: red;
  }
}
