<div class="main p-4">
  <header class="d-flex justify-content-between align-items-center">
    <h1 class="m-0">Delete Admin</h1>
    <span mat-flat-button matDialogClose class="text-danger">
      <mat-icon>close</mat-icon>
    </span>
  </header>
  <footer class="tw-p-6">
    <div class="d-flex justify-content-center align-items-center">
      <div mat-flat-button class="btn btn-success py-1 px-5 mx-2">
        <button (click)="Delete()">Delete</button>
      </div>
      <div mat-flat-button matDialogClose class="btn btn-danger py-1 px-5">
        <button>Close</button>
      </div>
    </div>
  </footer>
</div>
