<div class="payment">
  <form [formGroup]="paymentForm">
    <div>
      <div class="row d-flex justify-content-center">
        <div>
          <div class="card border-0">
            <div class="title">
              <h3>Credit Card Checkout</h3>
              <span mat-flat-button matDialogClose class="text-danger mb-2">
                <mat-icon>X</mat-icon>
              </span>
            </div>
            <div class="row">
              <div class="col-sm-7 border-line pb-3">
                <div class="form-group mb-3">
                  <p class="text-black text-sm mb-0">Name on the card</p>
                  <input
                    type="text"
                    formControlName="nameOnCard"
                    class="form-control cardName"
                    id="nameOnCard"
                    name="nameOnCard"
                    [class.is-invalid]="
                      nameOnCard?.invalid && nameOnCard?.touched
                    "
                    [class.is-valid]="nameOnCard?.valid && nameOnCard?.touched"
                  />
                </div>
                <div class="form-group mb-3">
                  <p class="text-black text-sm mb-0">Card Number</p>
                  <div class="row px-3">
                    <div class="form-control cardNumber" #cardNumber></div>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <p class="text-black text-sm mb-0">Expiry date</p>
                  <div class="form-control cardExpiry" #cardExpiry></div>
                </div>
                <div class="form-group mb-3">
                  <p class="text-black text-sm mb-0">CVV/CVC</p>
                  <div class="form-control cardCvc" #cardCvc></div>
                </div>
              </div>
              <div
                class="bottom col-sm-5 text-sm-center justify-content-center pt-4 pb-4"
              >
                <small class="text-sm text-muted">Reservation number</small>
                <h5 class="mb-5">{{ data.id }}</h5>
                <small class="text-sm text-muted">Payment amount</small>
                <div class="row px-3 justify-content-sm-center">
                  <h2 class="">
                    <span class="text-blask">{{ data.totalPrice }}</span>
                    <span class="text-md font-weight-bold mr-2">EGP</span>
                  </h2>
                </div>
                <button
                  [disabled]="
                    paymentForm.invalid ||
                    !cardNumberComplete ||
                    !cardExpiryComplete ||
                    !cardCvcComplete
                  "
                  (click)="ConfirmPayment()"
                  type="submit"
                  class="btn btn-red text-center mt-4"
                >
                  PAY
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!--
  <div class="main p-4">
    <header class="d-flex justify-content-between align-items-center">
      <h1 class="m-0">Confirm Payment</h1>
      <span mat-flat-button matDialogClose class="text-danger">
        <mat-icon>X</mat-icon>
      </span>
    </header>

    <form [formGroup]="paymentForm">
      <div class="row mb-3">
        <div class="form-group col-12">
          <label for="nameOnCard" class="form-label">Name On Card</label>
          <input
            type="text"
            formControlName="nameOnCard"
            class="form-control"
            id="nameOnCard"
            name="nameOnCard"
            [class.is-invalid]="nameOnCard?.invalid && nameOnCard?.touched"
            [class.is-valid]="nameOnCard?.valid && nameOnCard?.touched"
          />
          <div [hidden]="nameOnCard?.valid || nameOnCard?.untouched">
            <small *ngIf="nameOnCard?.errors?.['required']">
              * Please enter your name.
            </small>
            <small *ngIf="nameOnCard?.errors?.['pattern']">
              * Name must be 3 letters at least.
            </small>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6">
          <div class="form-floating">
            <div class="form-control" #cardNumber></div>
            <label>Card Number</label>
            <span class="text-danger">{{ cardErrors }}</span>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <div class="form-control" #cardExpiry></div>
            <label>Card Expiry</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <div class="form-control" #cardCvc></div>
            <label>Card CVC</label>
          </div>
        </div>
      </div>
    </form>

    <footer class="tw-p-6">
      <div class="d-flex justify-content-center align-items-center">
        <div mat-flat-button class="btn btn-success py-1 px-5 mx-2">
          <button
            [disabled]="
              paymentForm.invalid ||
              !cardNumberComplete ||
              !cardExpiryComplete ||
              !cardCvcComplete
            "
            (click)="ConfirmPayment()"
          >
            Confirm Payment
          </button>
        </div>

        <div mat-flat-button matDialogClose class="btn btn-danger py-1 px-5">
          <button>Close</button>
        </div>
      </div>
    </footer>
  </div>
 -->
