h1 {
  font-weight: bold;
}

textarea {
  min-height: 200px;
}
button {
  color: white;
  background-color: transparent;
  border: none;
}

.image {
  width: 300px;
  max-width: 100%;
  margin: auto;
  margin-bottom: 30px;
}
img {
  max-width: 100%;
}
