<div class="main container py-5">
  <div class="top">
    <h3>All Activities</h3>
    <button class="add" (click)="AddBranch()">Add Activity</button>
    <div class="filter">
      <h4>City</h4>
      <select #destinationId (change)="FilterPublicActivities(destinationId)">
        <option value="0">All</option>
        <option
          [value]="destination.id"
          *ngFor="let destination of destinations"
        >
          {{ destination.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="tableContainer">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Image</th>
          <th>Title</th>
          <th class="desc">Desc.</th>
          <th>City</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let activity of publicActivities; index as i">
          <td>{{ i + 1 }}</td>
          <td><img [src]="activity.imageURL" alt="" /></td>
          <td>{{ activity.title }}</td>
          <td class="desc">{{ activity.description }}</td>
          <td>{{ activity.destinationName }}</td>
          <td>
            <button class="details" (click)="PublicActivityDetails(activity)">
              Details
            </button>
            <button class="update" (click)="UpdatePublicActivity(activity)">
              Update
            </button>
            <button class="delete" (click)="DeletePublicActivity(activity.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
