.main {
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    h3 {
      color: var(--color-main);
      margin: 0;
    }
    .filter {
      display: flex;
      gap: 10px;
      h4 {
        margin: 0;
      }
    }
    .add {
      background-color: var(--color-green);
      color: white;
      border: 2px solid white;
      font-weight: bold;
      border-radius: 5px;
      padding: 5px 10px;
      transition: var(--transition-main);
      &:hover {
        background-color: white;
        color: var(--color-green);
        border: 2px solid var(--color-green);
      }
    }
  }
  .tableContainer{
    overflow-x: auto;
  }
  table {
    width: 100%;
    max-width: 100%;
    background-color: white;
    thead {
      background-color: var(--color-main);
      tr {
        border-bottom: 1px solid #dee2e6;
        th {
          color: white;
          padding: 10px;
          text-align: center;
        }
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid #dee2e6;
        td {
          padding: 10px;
          text-align: center;
          & img {
            width: 200px;
            min-width: 100px;
          }
          &:last-child {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            button {
              color: white;
              border: 2px solid white;
              font-weight: bold;
              border-radius: 10px;
              padding: 5px 10px;
              outline: none;
              transition: var(--transition-main);

              &:hover {
                background-color: white;
              }
            }
            .details {
              background-color: var(--color-main);
              &:hover {
                color: var(--color-main);
                border: 2px solid var(--color-main);
              }
            }
            .update {
              background-color: var(--color-orange);
              &:hover {
                color: var(--color-orange);
                border: 2px solid var(--color-orange);
              }
            }
            .delete {
              background-color: var(--color-red);
              &:hover {
                color: var(--color-red);
                border: 2px solid var(--color-red);
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .desc {
    display: none;
  }
}
