h1 {
  font-weight: bold;
}

textarea {
  min-width: 130px;
  max-width: 100%;
  min-height: 130px;
  max-height: 100%;
}
button {
  color: white;
  background-color: transparent;
  border: none;
}
small {
  color: red;
}
