<div class="main">
  <div class="bgHero">
    <div class="bgBlack">
      <div class="hero py-5 container">
        <div class="form">
          <h4>Book Go Bus</h4>

          <app-filter-trip></app-filter-trip>

        </div>
        <div class="bookNow">
          <h1>Book Your Go Bus Now!</h1>
          <h5>Book your bus with your credit card in less than two minutes.</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="busClass container">
    <app-bus-class></app-bus-class>
  </div>
</div>
