<div class="main p-4">
  <header class="d-flex justify-content-between align-items-center">
    <h1 class="m-0">Update Activity</h1>
    <span mat-flat-button matDialogClose class="text-danger">
      <mat-icon>close</mat-icon>
    </span>
  </header>
  <form [formGroup]="publicActivityForm">
    <div class="row mt-3">
      <div class="col-md-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Destination</mat-label>
          <mat-select formControlName="destinationId">
            <mat-option
              *ngFor="let destination of destinations"
              [value]="destination?.id"
            >
              {{ destination?.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" placeholder="title" />
        </mat-form-field>
        <div [hidden]="title?.valid || title?.untouched">
          <small *ngIf="title?.errors?.['required']">
            * Title is required.
          </small>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Description</mat-label>
          <input
            matInput
            formControlName="description"
            placeholder="description"
          />
        </mat-form-field>
        <div [hidden]="description?.valid || description?.untouched">
          <small *ngIf="description?.errors?.['required']">
            * Description is required.
          </small>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>ImageURL</mat-label>
          <input
            matInput
            formControlName="imageURL"
            placeholder="imageURL"
          />
        </mat-form-field>
        <div [hidden]="imageURL?.valid || imageURL?.untouched">
          <small *ngIf="imageURL?.errors?.['required']">
            * ImageURL is required.
          </small>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <input type="file" id="imageURL" (change)="SelectImage($event)" />
    </div>
  </form>

  <footer class="tw-p-6">
    <div class="d-flex justify-content-center align-items-center">
      <div mat-flat-button class="btn btn-success py-1 px-5 mx-2">
        <button [disabled]="publicActivityForm.invalid" (click)="Update()">
          Update
        </button>
      </div>

      <div mat-flat-button matDialogClose class="btn btn-danger py-1 px-5">
        <button>Close</button>
      </div>
    </div>
  </footer>
</div>
